.LeftSide > div,
.RightSide > div {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  border-bottom: rgba(128, 128, 128, 0.3) 1px solid;
}

p {
  margin: 8px 0;
}

h3 {
  margin: 12px 0;
}
