.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: aquamarine;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.navbar h1 {
  padding-left: 2rem;
}

.navlinks {
  display: flex;
  padding-right: 2rem;
}

.navlinks li {
  list-style-type: none;
  padding: 0 1rem;
}

.navlinks li:hover {
  background-color: bisque;
}

.content {
  margin: 0 5rem;
}
