body {
  font-family: sans-serif;
  font-size: 20px;
}

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  /* background-color: rgb(21, 21, 48); */
  background-color: rgb(14, 18, 29);
}

a {
  text-decoration: none;
  color: white;
  padding: 100% 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.navbar .header {
  padding-left: 2rem;
  margin: 0 164px;
}

.navbar .header h1 {
  font-family: "Satisfy", cursive;
  font-size: 2.3rem;
  margin: 0;
  text-align: center;
  color: white;
}

.navbar .header p {
  font-family: "Smooch", cursive;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  color: white;
}

.navbar img {
  max-width: 90%;
  max-height: 90%;
}

.navlinks {
  display: flex;
  padding-right: 2rem;
}

.navlinks li {
  list-style-type: none;
  padding: 27.33px 1rem;
  font-size: 1.2rem;
}

.navlinks li:hover {
  background-color: rgb(31, 31, 71);
}

.bodyContent {
  margin: 0 10%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  align-items: flex-end;
  background-color: #f4f4f4;
}
